*{
    margin: 0px;
    padding: 0px;
}
/* header related styles */
.logo{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: aqua;
    font-size: 20px;
}
.nav-container{
    display: flex;
    background-color: rgba(172, 166, 166, 0.5);
    padding: 10px;
    justify-content: space-around;
    align-items: center;

}
.menus{
    display: flex;
    list-style: none;
    gap: 15px;
    font-size: 20px;
}
/* banner container related styles */
.banner-container{
    height: 100vh;
    background-image: url('asset/image/background.jpg'), linear-gradient(rgba(0, 0, 0, 0.24),rgba(0, 0, 0, 0.26));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    text-align: center;
}
.banner-title{
    font-size: 85px;
    font-weight: bold;
    color: white;
}
.banner-description{
    color: white;
    padding: 10px;
    width: 50%;
    margin: auto;
    font-size: 21px;
}
.primary{
    color: red;
}
.btn{
    padding: 12px 20px;
    border: none;
    border-radius: 25px;
}
.bg-primary{
    background-color: rgba(255, 0, 0, 0.753);
    color: white;
}
/* service container related styles */
.service-container{
    height: 100vh;
    background-image: url('asset/image/footer-bg.png'), linear-gradient(rgba(0, 0, 0, 0.9),rgba(0, 0, 0, 0.9));
    background-blend-mode: overlay;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    padding: 20px;
}
.service-description{
    width: 50%;
}
.icon{
    width:70px;

}
.box{
    width: 150px;
    height: 150px;
    padding: 50px;
    background-color: white;
    color: black;
    border-radius: 5px;
}
.all-box{
    display: flex;
    gap: 10px;
    margin-top: 10px;
}
.author-img{
    width: 70px;
    height: 70px;
    border-radius: 35px;
}
.author-container{
    display: flex;
    gap: 20px;
    align-items: center;
}
.author-profile{
    display: flex;
    align-items: center;
    gap: 5px;
    border-right: 2px solid red;
    padding-right: 20px;
}
/* appointment container related styles */
.appointment-container{
    width: 75%;
    padding: 20px;
    background-color: rgb(245, 44, 44);
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    border-radius: 25px;
    margin-top: -80px;
    color: white;
}
.phone-call{
    display: flex;
    align-items: center;
    border-right: 1px solid blue;
    padding-right: 20px;
}
/* blog container related styles */
.blog-container{
    width: 80%;
    margin: auto;
    padding: 10px;

}
.blog-title{
    text-align: center;
    margin-top: 50px;
    font-size: 65px;
}
.blog-description{
    text-align: center;
    margin-bottom: 50px;
    font-size: 25px;
}
.card{
    width: 220px;
    height: 300px;
    box-shadow: 4px 8px 4px gray;
    border-radius: 5px;
}
.card-img{
    width: 100%;
    border-radius: 5px;
}
.card-title{
    margin-top: 10px;
    margin-bottom: 10px;
}
.blog-container-cards{
    display: flex;
    justify-content: center;
    gap: 15px;
}